{% extends "bootstrap_navbar_fixed_top_base.html" %}
{% block content %}

  {% if session.logged_in %}
    <form action="{{ url_for('add_entry') }}" method=post class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=description rows=5 cols=40></textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}

  <ul class=movies>
  {% for movie in movies %}
    <li><h2>{{ movie.title }}</h2>{{ movie.description|safe }}
  {% else %}
    <li><em>Unbelievable.  No movies entered so far</em>
  {% endfor %}
  </ul>

{% endblock %}